<div class="row">
	<div class="col-md-6 col-md-offset-3">
			<div class="about-bio">
					<h2 class="text-center">Meet Robert</h2>
					
					<p>&emsp;&emsp;Robert Morris graduated from Middle Tennessee State University with a Bachelor of Science in Biology and an Associate Degree in Mid-Management Technology from State
					Technical Institute at Memphis. Robert entered the real estate field in 1985 and has been
					actively involved in real estate sales and training since that time. He is currently a selling
					broker with Parks Realty, LLC, located in Smyrna, Tennessee, where he actively lists and
					sells real estate with team, TeamRobertMorris. Robert was honored with the 2000
					Realtor® of the Year award at one of his local associations as well as Tennessee
					Realtor® Educator of the year in 1995. He has been recently elected to serve on his local
					association’s Board of Directors for 2018-2020.
				
					<p>
					&emsp;&emsp;Robert is a international speaker, trainer and consultant who holds several professional
					designations/ certifications just to name a few, the Internet Professional (e-PRO),
					Accredited Buyer Representative (ABR), Accredited Buyer Representative Manager
					(ABRM), Certified Residential Specialist (CRS), the Graduate Realtor ® Institute (GRI),
					and the Performance Management Network (PMN) formally the Leadership Training
					Graduate (LTG) designation for the Women’s Council or Realtors®. He has also been
					certified by the Instructor’s Training Institute (ITI). He has conducted seminars, training
					workshops and leadership conferences for countless numbers of Realtors®, boards,
					conventions and associations throughout the continental US, Hawaii, Alaska, Canada,
					Puerto Rico, and the British West Indies.</p>
				
					<p>&emsp;&emsp;Robert is a Certified Instructor for Real Estate Brokers Institute (rebi). He is also a
					Course Facilitator/ Instructor for Real Estate Buyer’s Agent Council (REBAC) and
					Women’s Council of Realtors® (WCR). He is an active member in several national real
					estate organizations.</p>
				
					<p> &emsp;&emsp;Robert develops, writes and conducts numerous courses to meet the needs of Realtors® in the rapidly changing world of real estate. Robert has taught personalized courses to
					thousands of Realtors® across the country and is committed to helping Realtors®
					become more knowledgeable in all facets of the real estate industry. Robert currently
					instructs Realtors® in a variety of areas ranging from business planning and marketing,
					brokerage management, leadership management, professional standards, fair housing,
					goal-setting, time management and the implementation of cutting edge technology.</p>
					
				</div>
				<div class="panel panel-primary" id='services'>
					<div class="panel-heading text-center">
						<h1>Accredited Buyer’s Representative Designation (REBAC) Courses</h1>
					</div>
					<div class="panel-body">
						<h3>
							<ul>
								<li>Accredited Buyer Representative Designation (ABR) course (2 days)</li>
								<li>Generating Buyer & Seller Leads (1 day)</li>
								<liGeneration Buy (1 day)></li>
								<li>New-Home Construction and Buyer Representation (1 day)</li>
								<li>Real Estate Marketing Reboot</li>
							</ul>
						</h3>
					</div>
				</div>

				<div class="panel panel-primary">
					<div class="panel-heading text-center">
						<h1>e-PRO®</h1>
					</div>
					<div class="panel-body">
						<h3>
							<ul>
								<li>e-Pro®: Day One course (1 day)</li>
							</ul>
						</h3>
					</div>
				</div>

				<div class="panel panel-primary">
					<div class="panel-heading text-center">
						<h1>At Home With Diversity (AHWD) Certification</h1>
					</div>
					<div class="panel-body">
						<h3>
							<ul>
								<li>At Home with Diversity Course (1 day)</li>
							</ul>
						</h3>
					</div>
				</div>

				<div class="panel panel-primary">
					<div class="panel-heading text-center">
						<h1>Seniors Real Estate Specialist (SRES®) Designation</h1>
					</div>
					<div class="panel-body">
						<h3>
							<ul>
								<li>Seniors Real Estate Specialist (2 days)</li>
							</ul>
						</h3>
					</div>
				</div>

				<div class="panel panel-primary">
					<div class="panel-heading text-center">
						<h1>Real Estate Business Institute (rebi)</h1>
					</div>
					<div class="panel-body">
						<h3>
							<ul>
								<li>Seller Representative Specialist (SRS) Designation Course (2 days)</li>
								<li>The Negotiator’s Playbook (1 day)</li>
							</ul>
						</h3>
					</div>
				</div>

				<div class="panel panel-primary">
					<div class="panel-heading text-center">
						<h1>Military Relocation Professional (MRP) Certification</h1>
					</div>
					<div class="panel-body">
						<h3>
							<ul>
								<li>Military Relocation Professional (MRP) Certification Core Course</li>
							</ul>
						</h3>
					</div>
				</div>

				<div class="panel panel-primary">
					<div class="panel-heading text-center">
						<h1>Women’s Council of Realtors (WCR) (Performance Management Network (PMN)</h1>
					</div>
					<div class="panel-body">
						<h3>
							<ul>
								<li>Leadership Excellence (newest course)</li>
								<li>Harnessing the Power: Skills Based Performance Management</li>
								<li>Networking & Referral Systems</li>
								<li>Effective Negotiating for Real Estate Professionals</li>
								<li>The Business of Your Business: Formula, Financials, Function & Freedom</li>
							</ul>
						</h3>
					</div>
				</div>

				<div class="panel panel-primary">
					<div class="panel-heading text-center">
						<h1>Advanced Training & Seminars (Tennessee) CE  Courses Offerings</h1>
					</div>
					<div class="panel-body">
						<h3>
							<ul>
								<li>Putting the Fair back into Housing! (3 hrs)</li>
								<li>Professional Standards: Getting it right! (3 hrs)</li>
								<li>Setting a higher standard: The Realtor® Code of Ethics (4 hrs)</li>
								<li>Critical Technology Solutions for Today’s Realtor® (3 hrs)</li>
								<li>TREC Residential Core Course (6 hrs)</li>
								<li>Real Estate Brokerage Management (30 hrs)</li>
							</ul>
						</h3>
					</div>
				</div>

				<div class="panel panel-primary">
					<div class="panel-heading text-center">
						<h1>Robert Morris/ Advanced Training & Seminars Keynote topics</h1>
					</div>
					<div class="panel-body">
						<h3>
							<ul>
								<li>Goal-Setting & Time Management</li>
								<li>Leadership & Personality Profiles</li>
								<li>Business Planning and Productivity</li>
								<li>Creating Customers for Life</li>
							</ul>
						</h3>
					</div>
				</div>

				<address>
					<h2>For more information on courses or available dates please contact us at:</h2>
					<h3>Advanced Training & Seminars</h3>
					<h4>
							1784 W. Northfield Blvd. Ste. 272 <br>
							Murfreesboro, TN 37129 <br>
							E-mail: <a href="mailto:teamrobertmorris@gmail.com">TeamRobertMorris@gmail.com</a>  <br>
							615-390-3785 Direct <br>
							615-895-5327 Home Office <br> 
					</h4>
				</address>
	</div>
</div>