 <div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
        <h1>Advanced Training & Seminars (Tennessee) CE  Courses Offerings</h1>
      </div>
      <div class="panel-body">
        <h3>
          <ul>
            <li>Putting the Fair back into Housing! (3 hrs)</li>
            <li>Professional Standards: Getting it right! (3 hrs)</li>
            <li>Setting a higher standard: The Realtor® Code of Ethics (4 hrs)</li>
            <li>Critical Technology Solutions for Today’s Realtor® (3 hrs)</li>
            <li>TREC Residential Core Course (6 hrs)</li>
            <li>Real Estate Brokerage Management (30 hrs)</li>
          </ul>
        </h3>
      </div>
    </div>
    <address>
      <h2>For more information on courses or available dates please contact us at:</h2>
      <h4><b>Advanced Training & Seminars</b> <br>
          1784 W. Northfield Blvd. Ste. 272 <br>
          Murfreesboro, TN 37129 <br>
          E-mail: <a href="mailto:AdvancedTrainingSeminars@gmail.com">Email Robert</a><br>
          615-390-3785 Direct <br>
          615-895-5327 Home Office <br> 
      </h4>
    </address>
  </div>
</div>