<div class="row">
    <div class="col-md-6 col-md-offset-3">
            <address class="text-center">
                    <h3>Address</h3>
                    <h4>Advanced Training and Seminars</h4> <br>
                    <h4>1784 W. Northfield Blvd. Ste. 272</h4> <br>
                    <h4>Murfreesboro, Tennessee 37129</h4> <br>
                    <h3>Office/Fax:</h3> <br>
                    <h4>615.895.5327</h4> <br>
            </address>
    </div>
</div>