<div class="row">
    <div class="col-md-6 col-md-offset-3">
            <address>
                    <h3> Address
                    <h4>Advanced Training and Seminars</h4>
                    <h4>1784 W. Northfield Blvd. Ste. 272</h4>
                    <h4>Murfreesboro, Tennessee 37129</h4>
                    </h3>
                    
                    <h3>Direct Number</h3>
                    <h4>615-390-3785</h4>
                    
                    <h3>Office/Fax:</h3>
                    <h4>615.895.5327</h4>
                    
                    <h3> Email Address</h3>
                    <h4> advancedtrainingseminars@gmail.com</h4>
                    <h3><a class="emailRobert" href="mailto:AdvancedTrainingSeminars@gmail.com">Email Robert</a></h3>
            </address>
    </div>
</div>