<div class="row home">
	<div class="col-md-6 col-md-offset-3">
			<h1 class="text-center">Meet Robert</h1>
			<a href="<%= about_path %>#services" class="btn btn-default btn-block">View Robert's Services</a>
			<div class="home">
				<%= image_tag 'rm5.jpg', class: 'img-responsive' %>
			</div>
	</div>
</div>