<h1 class="text-center" style="text-decoration: underline;">Meet Robert</h1>
<div class="home">
	<iframe src="https://www.youtube.com/embed/zzzmujKp64Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	<h3 class="card-title text-center">CRS Certified Instructor Robert Morris talks about a few nuggets you will get from attending the CRS 206
	<br><br> - Technologies to Advance your Business course he teaches.</h3>
</div>