<div class="row home">
	<div class="col-md-6 col-md-offset-3">
			<div class="home">
				<a href="<%= about_path %>#services" class="btn btn-default btn-block btn-home-services">View Robert's Courses & Seminars</a>
				<%= image_tag 'rm5.jpg', class: 'img-responsive' %>
			</div>
	</div>
</div>