<section class="home-section-a text-center">
	
	<article>	
		<h1>Quote of the Day</h1>
		<h3>
			<i>“Be yourself; everyone else is already taken.”</i></h3>
		<p>- Oscar Wilde</p>
		<h3>Posted by Robert Morris on <i>02/05/2018</i> at <i>1:04 AM</i></h3>
	</article>

	<hr>
		<!-- recommended readings -->

	<article class="reading-container">
		
		<div class="reading-box box-1">
			<div class="reading-title">
				<h1>Recommended Readings</h1>
			</div>
				<img src="https://images.gr-assets.com/books/1355074500l/13705557.jpg" alt="ruby on rails">
			<div class="reading-description">
				<h3>This book is about Ruby on Rails. It is highly recommended for it's indepth guidance.</h3>
			</div>
		</div>

		<div class="reading-box box-2">
			<div class="reading-title">
				<h1>Recommended Readings</h1>
			</div>
				<img src="https://images.gr-assets.com/books/1355074500l/13705557.jpg" alt="ruby on rails">
			<div class="reading-description">
				<h3>This book is about Ruby on Rails. It is highly recommended for it's indepth guidance.</h3>
			</div>
		</div>

		<div class="reading-box box-3">
			<div class="reading-title">
				<h1>Recommended Readings</h1>
			</div>
				<img src="https://images.gr-assets.com/books/1355074500l/13705557.jpg" alt="ruby on rails">
			<div class="reading-description">
				<h3>This book is about Ruby on Rails. It is highly recommended for it's indepth guidance.</h3>
			</div>
		</div>

		<div class="reading-box box-4">
				<div class="reading-title">
					<h1>Recommended Readings</h1>
				</div>
					<img src="https://images.gr-assets.com/books/1355074500l/13705557.jpg" alt="ruby on rails">
				<div class="reading-description">
					<h3>This book is about Ruby on Rails. It is highly recommended for it's indepth guidance.</h3>
				</div>
			</div>

			<div class="reading-box box-5">
				<div class="reading-title">
					<h1>Recommended Readings</h1>
				</div>
					<img src="https://images.gr-assets.com/books/1355074500l/13705557.jpg" alt="ruby on rails">
				<div class="reading-description">
					<h3>This book is about Ruby on Rails. It is highly recommended for it's indepth guidance.</h3>
				</div>
			</div>

	</article>

</section>