<div class="home">
	<iframe width="50%" height="480" src="https://www.youtube.com/embed/zzzmujKp64Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	<h3 class="card-title">CRS Certified Instructor Robert Morris talks about a few nuggets you will get from attending the CRS 206 - Technologies to Advance your Business course he teaches.</h3>
</div>