<main class="home">
	<article class="welcome-card">
		<section class="card-title">
			<h1>Welcome to Robert Morris's Webpage</h1>
		</section>
		<section class="card-data">
			<p>A Work in Progress</p>
		</section>
	</article>
</main>