    <div class="panel panel-primary" id='services'>
      <div class="panel-heading text-center">
        <h1>Accredited Buyer’s Representative Designation (REBAC) Courses</h1>
      </div>
      <div class="panel-body">
        <h3>
          <ul>
            <li>Accredited Buyer Representative Designation (ABR) course (2 days)</li>
            <li>Generating Buyer & Seller Leads (1 day)</li>
            <liGeneration Buy (1 day)></li>
            <li>New-Home Construction and Buyer Representation (1 day)</li>
            <li>Real Estate Marketing Reboot</li>
          </ul>
        </h3>
      </div>
    </div>
    
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
        <h1>e-PRO®</h1>
      </div>
      <div class="panel-body">
        <h3>
          <ul>
            <li>e-Pro®: Day One course (1 day)</li>
          </ul>
        </h3>
      </div>
    </div>
    
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
        <h1>At Home With Diversity (AHWD) Certification</h1>
      </div>
      <div class="panel-body">
        <h3>
          <ul>
            <li>At Home with Diversity Course (1 day)</li>
          </ul>
        </h3>
      </div>
    </div>
    
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
        <h1>Seniors Real Estate Specialist (SRES®) Designation</h1>
      </div>
      <div class="panel-body">
        <h3>
          <ul>
            <li>Seniors Real Estate Specialist (2 days)</li>
          </ul>
        </h3>
      </div>
    </div>