<main class="REBAC-container">
  <div class="panel panel-primary" id='services'>
    <div class="panel-heading text-center">
      <h1>Accredited Buyer’s Representative Designation (REBAC) Courses</h1>
    </div>
    <div class="panel-body">
      <h3>
        <ul>
          <li>Accredited Buyer Representative Designation (ABR) course (2 days)</li>
          <li>Generating Buyer & Seller Leads (1 day)</li>
          <liGeneration Buy (1 day)></li>
          <li>New-Home Construction and Buyer Representation (1 day)</li>
          <li>Real Estate Marketing Reboot</li>
        </ul>
      </h3>
    </div>
  </div>
  
  <div class="panel panel-primary">
    <div class="panel-heading text-center">
      <h1>e-PRO®</h1>
    </div>
    <div class="panel-body">
      <h3>
        <ul>
          <li>e-Pro®: Day One course (1 day)</li>
        </ul>
      </h3>
    </div>
  </div>
  
  <div class="panel panel-primary">
    <div class="panel-heading text-center">
      <h1>At Home With Diversity (AHWD) Certification</h1>
    </div>
    <div class="panel-body">
      <h3>
        <ul>
          <li>At Home with Diversity Course (1 day)</li>
        </ul>
      </h3>
    </div>
  </div>
  
  <div class="panel panel-primary">
    <div class="panel-heading text-center">
      <h1>Seniors Real Estate Specialist (SRES®) Designation</h1>
    </div>
    <div class="panel-body">
      <h3>
        <ul>
          <li>Seniors Real Estate Specialist (2 days)</li>
        </ul>
      </h3>
    </div>
  </div>

      <div class="panel panel-primary">
      <div class="panel-heading text-center">
        <h1>Military Relocation Professional (MRP) Certification</h1>
      </div>
      <div class="panel-body">
        <h3>
          <ul>
            <li>Military Relocation Professional (MRP) Certification Core Course</li>
          </ul>
        </h3>
      </div>
    </div>
    <address>
      <h2>For more information on courses or available dates please contact us at:</h2>
      <h4><b>Advanced Training & Seminars</b> <br>
          1784 W. Northfield Blvd. Ste. 272 <br>
          Murfreesboro, TN 37129 <br>
          E-mail: <a href="mailto:AdvancedTrainingSeminars@gmail.com">Email Robert</a><br>
          615-390-3785 Direct <br>
          615-895-5327 Home Office <br> 
      </h4>
    </address>
</main>