<main class="REBAC-container">
  <div class="panel panel-primary" id='services'>
    <div class="panel-heading text-center">
      <h1>Accredited Buyer’s Representative Designation (REBAC) Courses</h1>
    </div>
    <div class="panel-body">
      <h3>
        <ul>
          <li>
            <a target="_blank" href="http://rebac.net/abr/course"> Accredited Buyer Representative Designation (ABR) course (2 days)
            </a>
          </li>
          
          <li>
            <a href="http://rebac.net/content/generating-buyer-and-seller-leads-capture-qualify-convert">Generating Buyer & Seller Leads (1 day)
            </a>
          </li>
          
          <li>
            <a href="https://www.nar.realtor/edmatrix.nsf/f5241e920438a34e86256fbd00650396/9d3265216c8b17e886257bc200595b80?OpenDocument">Generation Buy (1 day)
            </a>
          </li>
          
          <li>
            <a href="https://www.nar.realtor/edmatrix.nsf/8930e94c128417cf86256fbd00652c81/b7b2b3e15f04b9ec86256e19006d67cd?OpenDocument">New-Home Construction and Buyer Representation (1 day)
            </a>
          </li>
          
          <li>
            <a href="http://rebac.net/content/real-estate-marketing-reboot">Real Estate Marketing Reboot</a>
          </li>
        </ul>
      </h3>
    </div>
  </div>
  
  <div class="panel panel-primary">
    <div class="panel-heading text-center">
      <h1>e-PRO®</h1>
    </div>
    <div class="panel-body">
      <h3>
        <ul>
          <li>
            <a href="http://rebac.net/content/e-pro-certification-program">e-Pro®: Day One course (1 day)</a></li>
        </ul>
      </h3>
    </div>
  </div>
  
  <div class="panel panel-primary">
    <div class="panel-heading text-center">
      <h1>At Home With Diversity (AHWD) Certification</h1>
    </div>
    <div class="panel-body">
      <h3>
        <ul>
          <li>
            <a href="https://www.nar.realtor/designations-and-certifications/at-home-with-diversity">At Home with Diversity Course (1 day)</a></li>
        </ul>
      </h3>
    </div>
  </div>
  
  <div class="panel panel-primary">
    <div class="panel-heading text-center">
      <h1>Seniors Real Estate Specialist (SRES®) Designation</h1>
    </div>
    <div class="panel-body">
      <h3>
        <ul>
          <li>
            <a href="http://seniorsrealestate.com/courses/find-sres-course">Seniors Real Estate Specialist (2 days)</a></li>
        </ul>
      </h3>
    </div>
  </div>

      <div class="panel panel-primary">
      <div class="panel-heading text-center">
        <h1>Military Relocation Professional (MRP) Certification</h1>
      </div>
      <div class="panel-body">
        <h3>
          <ul>
            <li>
              <a href="https://www.nar.realtor/education/designations-and-certifications/mrp">Military Relocation Professional (MRP) Certification Core Course</a></li>
          </ul>
        </h3>
      </div>
    </div>
    <address>
      <h2>For more information on courses or available dates please contact us at:</h2>
      <h4><b>Advanced Training & Seminars</b> <br>
          1784 W. Northfield Blvd. Ste. 272 <br>
          Murfreesboro, TN 37129 <br>
          E-mail: <a href="mailto:AdvancedTrainingSeminars@gmail.com">Email Robert</a><br>
          615-390-3785 Direct <br>
          615-895-5327 Home Office <br> 
      </h4>
    </address>
</main>