
      <div class="flex-container">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h1>
                Seller Representative Specialist Course
              </h1>
            </div>
            <div class="panel-body">
                <iframe src="https://www.youtube.com/embed/Veifu0Vda8I" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            <div class="panel-footer">
              <h4>
                  This is a SRS course introduction promo video by Robert Morris.
              </h4>
            </div>
          </div>
        
          <div class="panel panel-primary">
              <div class="panel-heading">
                <h1>
                  AHWD Certification Course
                </h1>
              </div>
              <div class="panel-body">
                  <iframe src="https://www.youtube.com/embed/gH-4ZtCtQQU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>
              <div class="panel-footer">
                <h4>
                    This is a AHWD course introduction promo video by Robert Morris
                </h4>
              </div>
            </div>
        
            <div class="panel panel-primary">
                <div class="panel-heading">
                  <h1>
                    WCR Michigan State Installation 2018
                  </h1>
                </div>
                <div class="panel-body">
                    <iframe src="https://www.youtube.com/embed/iqfA506W9CE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="panel-footer">
                  <h4>
                      Many Congrats to the incoming slate of WCR Michigan State Leadership 2018.
        
                  </h4>
                </div>
              </div>
        </div>
