<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
        <h1>Women’s Council of Realtors (WCR) (Performance Management Network (PMN)</h1>
      </div>
      <div class="panel-body">
        <h3>
          <ul>
            <li>Leadership Excellence (newest course)</li>
            <li>Harnessing the Power: Skills Based Performance Management</li>
            <li>Networking & Referral Systems</li>
            <li>Effective Negotiating for Real Estate Professionals</li>
            <li>The Business of Your Business: Formula, Financials, Function & Freedom</li>
          </ul>
        </h3>
      </div>
    </div>
    <address>
      <h2>For more information on courses or available dates please contact us at:</h2>
      <h4><b>Advanced Training & Seminars</b> <br>
          1784 W. Northfield Blvd. Ste. 272 <br>
          Murfreesboro, TN 37129 <br>
          E-mail: <a href="mailto:AdvancedTrainingSeminars@gmail.com">Email Robert</a><br>
          615-390-3785 Direct <br>
          615-895-5327 Home Office <br> 
      </h4>
    </address>
  </div>
</div> 