<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary text-center">
      <div class="panel-heading">
        <h1><%= @speaking.name %></h1>
      </div>
      <div class="panel-body">
        <h4><%= @speaking.description %></h4>
      </div>
      <div class="panel-footer">
        <h3>Date: <%= @speaking.speaking_date %></h3>
        <h3>Time: <%= @speaking.time %></h3>
      </div>
    </div>
  </div>
</div>