@import "_bootstrap-sprockets.scss";
@import "_bootstrap.scss";

/* base styles */

body {
  font-family: 'Poppins', sans-serif;
  background: #4A647D url('mic.jpg') no-repeat center;
  background-size: cover;
  overflow: scroll;
  padding: 0 20rem;
  color: #e1d6c4 !important;
  font-weight: bold;
}

@media (max-width: 768px) {
  body {
    margin: 0rem;
    padding: 0rem;
  }
  body > div {
    padding: 2rem;
  }
}

#main-content {
  display: flex;
  flex-direction: column;
  background: #4A647D;
  background: linear-gradient(to right, rgba(74, 100, 125, .99), rgba(59, 83, 106, .99));
  line-height: 2;
  border: 1px solid #e4af5a;
}

/* nav styles */

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  position: relative;
  padding: 4rem 4rem 4rem 4rem;
}

@media (max-width: 768px) {
  nav {
    display: block;
  }
}

#main-content > nav > a {
  margin: 2rem 1rem;
  padding: 2rem;
  background-color: #47525F;
  border: 1px solid #7f7e7e;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  box-shadow: 5px 10px #1c2838;
  color: rgb(190, 175, 122);

}

@media screen and (max-width: 768px){

  nav > a {
    display: none;
  }


}

nav a:hover, #main-content > nav > a:hover, #main-content > nav > li > a:focus  {
  color: #fefefe;
  background: #606A77;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 5px;
  font-weight: bold;
}


/* side slide bar menu */

.side-nav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1c2838;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  display: block;
  transition: 0.5s;
  color: #D1C395;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
  color: #D1C395;
}

#main-content {
  transition: margin-left 0.5s;
}

.logo {
  list-style: none;
  align-self: center;
  margin-top: -8rem;
  margin-bottom: -3rem;
}

@media (max-width: 768px) {
  .navbar-nav {
    display: none;
  }
  #main-content > nav > li> a{
    display: none;
  }
  #main-content li img{
    display: block;
  }
  .logo {
    display: none;
  }
}

@media (min-width: 768px) {
  .open-slide {
    display: none;
  }
}

/*main home */

.home {
  color: #D1C395 !important;
}

.home img {
  border-color: #e4af5a;
  border-left: 1px solid;
  border-right: 1px solid;
}

.home h1 {
  font-weight: bold;
}

.btn-home-services {
  background: #47525F;
  font-weight: bold;
  color: #D1C395;
  border: 1px solid #e4af5a;
}

/*  new bookings */


.new-bookings, .edit-bookings, #main-content > div.col-md-6.col-md-offset-3 {
  color: #D1C395;
}

.new-bookings h1 {
  font-weight: bold;
}
/* new bookings form labels */
body > main > div > form > div > label, .sign-in {
  font-size: 20px;
  font-weight: lighter;
  color: #D1C395 !important;
}

/* new bookings form background */

#booking_message, 
#booking_name, 
#booking_number, 
#booking_email, 
#user_email, 
#user_password,
#user_password_confirmation,
#user_current_password
{
  background: #e1dbc4 !important;
  font-size: 24px;
  color: #47525f;
  text-align: center;
}

#booking_date_1i, #booking_date_2i, #booking_date_3i {
  color: #333;
  border: 5px;
  height: 4rem;
  width: 33%;
}

@media (max-width: 760px) {
  #booking_date_1i, #booking_date_2i, #booking_date_3i {
    width: 32%;
  }
}

/* submit button */

body > main > div > form > div.actions > input,
#new_user > div.actions > input,
#main-content > main > div > form > div.actions > input,
 {
  background: #e1dbc4;
  color: #635c43;
  font-size: 16px;
  font-weight: bold;
}

body > main > div > form > div.actions > input:hover,
#new_user > div.actions > input:hover,
#main-content > main > div > form > div.actions > input:hover,
  {
  background-color: #47525f;
  color: #D1C395;
  font-size: 24px;
  border: 1px solid #fff;
}


/* bookings show page */

.panel-heading {
  background: #47525F !important;
  border: 3px solid #e4af5a  !important;
  color: #e4af5a !important;
}

.panel-body, .panel-footer {
  border: 3px solid #e4af5a !important;
  border-top: 0 !important;
  background: #333;
  // border-bottom: 0 !important;
}

.panel-body h3, h4 {
  color: #D1C395 !important;
}

/* bookings index page */
 .bookings-index h1 {
  color: #e1d6c4 !important;
  font-weight: bold !important;
 }

 .bookings-index table {
  color: #e1d6c4;
  font-size: 24px;
 }

 .bookings-index tbody {
  color: #333;
 }

 /*about*/

 .about-bio {
   color: #D1C395 !important;
 }

 .about-bio h2 {
   font-weight: bold;
 }

 .about-bio p {
  font-size: 24px;
  font-weight: normal;
 }

 .flex-container { 
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}
.flex-box { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
  margin: .5vw; 
}
 .flex-img,
 .flex-vid { 
  width: 100%; 
  height: auto; 
}

@media screen and (max-width: 768px) {
  .flex-box { margin: 0; }
  .flex-container { padding: 0; }
  
}

address {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

address h3 {
  color: #D1C395;
  font-weight: bold;
}

address h2, h4 {
  color: #D1C395;
}

address a {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}

address a:hover {
  font-size: 24px;
  color: #fff;
}

/* speakings */

#speaking_date_1i, #speaking_date_2i, #speaking_date_3i {
  color: #333;
  border: 5px;
  height: 4rem;
  width: 33%;
}

@media (max-width: 760px) {
  #speaking_date_1i, #speaking_date_2i, #speaking_date_3i {
    border: 5px;
    width: 32%;
  }
}