/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require jquery-ui/datepicker
 *= require fullcalendar
 */

@import "_bootstrap-sprockets.scss";
@import "_bootstrap.scss";

#calendar {
  color: #D1C395;
  margin: 0.5rem;
}

.google-calendar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

#main-content > main > iframe {
  // margin: 2rem !important;
  padding: 0 15rem 0 15rem;
  width: 100%;
  height: 1080px;
}

#main-content {
  width: 75%;
}

@media (max-width: 100%) {
  #main-content > main > iframe {
    padding: 0;
    max-width: 400px;
    height: 400px;
  }
}

/* base styles */

body {
  font-family: 'Poppins', sans-serif;
  background: #4A647D url('mic.jpg') no-repeat center;
  background-size: cover;
  overflow: scroll;
  // padding: 0 0rem;
  color: #e1d6c4 !important;
  font-weight: bold;
  line-height: 2 !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}

@media (max-width: 768px) {
  body {
    margin: 0rem;
    padding: 0rem;
  }
  body > div {
    padding: 2rem;
  }
}

#main-content {
  display: flex;
  flex-direction: column;
  background: #4A647D;
  background: linear-gradient(to right, rgba(74, 100, 125, .99), rgba(59, 83, 106, .99));
  line-height: 2;
  border: 1px solid #e4af5a;
}

/* nav styles */

#dropdown-menu {
  display: none;
}

.events-active {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadein 2s;
  position: absolute;
}

#dropdown-menu ul li {
  align-self: center;
}

@keyframes fadein {
  from{opacity: 0;}
  to{opacity: 1;}
}

#dropdown-menu > li > a, #dropdown-menu > li {
  color: #D1C395;
  list-style: none;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 4rem;
  background: linear-gradient(to right, rgba(74, 100, 125, .99), rgba(59, 83, 106, .99));
  width: 100%;
  opacity: 0.7;
  border-top: 1px solid #e4af5a !important;
  border-bottom: 1px solid #e4af5a !important;
}

nav li {
  margin: 1rem;

}

nav li a {
  background: #47525F;
  border: 1px solid #e4af5a;
  font-family: 'MerriWeather', sans-serif;
  font-weight: bold;
  padding: 1rem;
  border-radius: 5px;
  color: #D1C395;
}

@media (max-width: 768px) {
  nav {
    display: block;
  }
}



@media screen and (max-width: 768px){

  nav > a {
    display: none;
  }
}


#main-content > a {
  align-self: center;
}

@media (max-width: 768px) {

  #main-content > a > img {
    display: none;
  }

  aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    position: relative;
    left: 10.5rem;
    overflow-x: hidden;
  }

  #main-content > div.row.home > div > aside > ul > li {
    margin: 1rem;
    max-width: 80%;
  }
}

nav a:hover, #main-content > nav > a:hover, #main-content > nav > li > a:focus  {
  color: #fefefe;
  background: #606A77;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 5px;
  font-weight: bold;
}


/* side slide bar menu */

.side-nav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1c2838;
  opacity: 0.7;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  display: block;
  transition: 0.5s;
  color: #D1C395;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
  color: #D1C395;
}

#main-content {
  transition: margin-left 0.5s;
}



@media (max-width: 768px) {
  .navbar-nav {
    display: none;
  }
  #main-content > nav > li> a{
    display: none;
  }
}

@media (min-width: 768px) {
  .open-slide {
    display: none;
  }
}

/*main home */


.home img {
  border-color: #e4af5a;
  border-left: 1px solid;
  border-right: 1px solid;
  max-width: 100%;
  height: 400px;
  box-shadow: 5px 5px 100px 5px #333;
}

.home h1 {
  font-weight: bold;
}

.form-control {
  border: 1px solid #e4af5a !important;
  background: #d1d1d1;
}


.readings a {
  color: #D1C395;
}


/*  new bookings */


.new-bookings, .edit-bookings, #main-content > div.col-md-6.col-md-offset-3 {
  color: #D1C395;
}

.new-bookings h1 {
  font-weight: bold;
}
/* new bookings form labels */
body > main > div > form > div > label, .sign-in {
  font-size: 20px;
  font-weight: lighter;
  color: #D1C395 !important;
}

/* new bookings form background */

#booking_message, 
#booking_name, 
#booking_number, 
#booking_email, 
#user_email, 
#user_password,
#user_password_confirmation,
#user_current_password
{
  background: #e1dbc4 !important;
  font-size: 24px;
  color: #47525f;
  text-align: center;
}

#booking_date_1i, #booking_date_2i, #booking_date_3i {
  color: #333;
  border: 5px;
  height: 4rem;
  width: 33%;
}

@media (max-width: 760px) {
  #booking_date_1i, #booking_date_2i, #booking_date_3i {
    width: 32%;
  }
}

/* submit button */

body > main > div > form > div.actions > input,
#new_user > div.actions > input,
#main-content > main > div > form > div.actions > input {
  background: #4A647D;
  color: #fff;
  border: 1px solid #e1d6c4;
  font-size: 16px;
}

body > main > div > form > div.actions > input:hover,
#new_user > div.actions > input:hover,
#main-content > main > div > form > div.actions > input:hover,
  {
  background-color: #47525f;
  color: #D1C395;
  font-size: 24px;
  border: 1px solid #fff;
}

#main-content > main > div > div > form > div.actions > input {
  background: #47525f;
  margin-bottom: 2rem;
}

#main-content > main > div > div > form > div.actions > input:hover,
#main-content > main > div > div > form > div.actions > input:focus {
  background: #e1d6c4;
  color: #333;
}

/* bookings show page */

.panel li a {
  color: #D1C395;
  text-decoration: underline;
}

.panel-heading {
  background: #47525F !important;
  border: 3px solid #e4af5a  !important;
  color: #e4af5a !important;
}

.panel-body, .panel-footer {
  border: 3px solid #e4af5a !important;
  border-top: 0 !important;
  background: #333;
  // border-bottom: 0 !important;
}

.panel-body h3, h4 {
  color: #D1C395 !important;
  text-align: left;
  line-height: 2;
}

/* bookings index page */
 .bookings-index h1 {
  color: #e1d6c4 !important;
  font-weight: bold !important;
 }

 .bookings-table {
   background: #333;
 }

 .bookings-table a {
  color: #D1C395;
  font-size: 24px;
 }

 #main-content main th {
   font-size: 24px;
 }

 .btn-primary {
   background: #4A647D;
   border: 1px solid #D1C395;
   margin: 1rem;
 }

 .btn-primary:hover, .btn-primary:focus {
   background: #e1dbc4 !important;
   color: #333 !important;
   margin-bottom: 2rem !important;
 }

 .bookings-index tbody {
  color: #333;
 }

 /*about*/

 .about-bio {
   color: #D1C395 !important;
 }

 .about-bio h2 {
   font-weight: bold;
 }

 .about-bio p {
  font-size: 24px;
  font-weight: normal;
 }

 .flex-container { 
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}
.flex-box { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
  margin: .5vw; 
}
 .flex-img,
 .flex-vid { 
  width: 100%; 
  height: auto; 
}

@media screen and (max-width: 768px) {
  .flex-box { margin: 0; }
  .flex-container { padding: 0; }
  
}

address {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

address h3 {
  color: #D1C395;
  font-weight: bold;
  text-decoration: underline;
}

address h2, h4 {
  color: #D1C395;
}

address a {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}

address a:hover {
  font-size: 24px;
  color: #fff;
}

.emailRobert {
  text-shadow: 2px 2px 25px #333;
}

/* speakings */

#speaking_date_1i, #speaking_date_2i, #speaking_date_3i {
  color: #333;
  border: 5px;
  height: 4rem;
  width: 33%;
}

@media (max-width: 760px) {
  #speaking_date_1i, #speaking_date_2i, #speaking_date_3i {
    border: 5px;
    width: 32%;
  }
}

textarea {
  resize: none;
}

/* videos */

.flex-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
}

iframe {
  width: 640px;
  height: 480px;
}

@media (max-width: 768px) {
  iframe {
    max-width: 100%;
  }
}

td a {
  color: #333;
}

/* flex-container-seminars */

.flex-container-seminars {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
}

.flex-container-seminars .panel {
  width: 600px;
  overflow: hidden;
  background: #333;
  border: 3px solid #e4af5a;
  margin: 1rem;
}

.flex-container-seminars .panel-heading, .flex-container-seminars .panel-body, .flex-container-seminars .panel-footer {
  border: 3px solid transparent !important;
}

.flex-container-seminars .panel-heading {
  border-bottom: 3px solid #e4af5a !important;
}

.panel-footer {
  color: #D1C395;
}

.panel {
  margin: 1rem;
}

/* date picker */

#ui-datepicker-div {
  background: #47525f !important;
  color: #D1C395;
  width: 550px;
  z-index: 1;
  text-align: center;
  border: 1px solid #e4af5a;
  cursor: pointer;
}

#ui-datepicker-div > table > tbody > tr:nth-child(4) > td {
  font-size: 10px;
}

#ui-datepicker-div a {
  color: #333;
}

#ui-datepicker-div span {
  margin: 2rem;
}

@media (max-width: 768px) {
  #ui-datepicker-div {
    width: 350px;
    font-size: 12px;
  }
  #ui-datepicker-div span {
    margin: 1.6rem;
  }
}

/* rebac section */

.REBAC-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin: 0 1rem;
}

.REBAC-container .panel {
  background: none;
  border: none;
}

@media (max-width: 768px) {
  .REBAC-container {
    grid-template-columns: 1fr;
  }
}

/* mobile nav dropdown menu */

@media (max-width: 768px) {
  #side-menu > li {
    list-style: none;
  }

  #dropdown-menu-2 {
    display: none;
  }

  .events-active-2 {
    display: block !important;
    animation: fadein 3s;
  }
  
  @keyframes fadein {
    from{opacity: 0;}
    to{opacity: 1;}
  }

  .events-active-2 li {
    list-style: none;
  }
}

/* choose file for image input */

#main-content > form > div > div > div:nth-child(3) > input {
  background: none;
  color: #D1C395;
}

/* home section */

.home-section-a {
  background: #333 asset-url('blackcentermic.jpg') center no-repeat;
  background-size: cover;
  color: #D1C395;
}

.home-section-a > ul > li {
  display: block !important;
  margin: 1rem;
}

/* home reading section */

@media(min-width: 768px) {
  .reading-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1rem;
    background: #33333320;
    margin: 1rem;
    padding: 1rem;
  }
}

.reading-title, .reading-box {
  border: 1px solid #D1C395;
}
.reading-box {
  color: #D1C395;
}

.reading-container img {
  margin: 1rem;
  padding: 1rem;
}